/* Mobile device CSS - Mobile device CSS - Mobile device CSS */
/* Mobile device CSS - Mobile device CSS - Mobile device CSS */
/* Mobile device CSS - Mobile device CSS - Mobile device CSS */

.container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 999;
  width: 100%;
  min-height: 4vh;
  /* Ensure it remains visible above #tabsContainer */
}

.button-container {
  display: flex;
  width: 100%;
  pointer-events: none;
}

.button-container button.clickable-child {
  display: flex;
  align-items: center;
  pointer-events: auto;
}

#startGame,
#submitAnswerButton,
#pass {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#question {
  flex: 2;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: center;
}

#answerInput {
  flex: 3;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.button-container {
  flex: 4;
  display: flex;
}

#submitAnswerButton {
  flex: 3;
  background-color: #008CBA;
  color: white;
}

#pass {
  flex: 1;
  background-color: #e7e7e7;
  color: black;
}


@media screen and (max-width: 950px) {
    #question {
      font-size: 12px;
    }
  
    #answerInput {
      font-size: 12px;
    }
  
    #submitAnswerButton,
    #pass, #timer {
      font-size: 12px;
    }
  
    #overlay {
      font-size: 12px;
    }
  
    .info-table th,
    .info-table td {
      padding: 4px;
    }
  
    #tabsContainer {
      bottom: 12vh;
    }
  
    @media screen and (max-width: 850px) {
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 12vh;
        width: 100%;
        padding: 1px 0px 0px 2px;
        margin: 0px;
      }
  
      #tabsContainer {
        bottom: 14vh;
      }
    
      #question {
        margin: 0px 0px 2px 0px;
        padding: 3px 0px 3px 0px;
      }
    
      #button-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
    
      #answerInput {
        padding: 1px 2px 2px 2px;
        margin: 0px 0px 2px 0px;
        border-radius: 0px;
        width: 100%;
      }
    
      #submitAnswerButton,
      #pass, #timer {
        display: flex;
      }
    }
  
  }