@import url("base.css");

#feedback {
    background-color: var(--light_background);
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    width: 100%;
    padding-top: 4px;
}

.rating-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    pointer-events: all;
}

.rating-buttons button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

#feedback1 {
    margin: 0 10px; /* Ensure some space between text and buttons */
}

#feedback2-container {
    margin-top: 10px; /* Add some space between feedback1 and feedback2 */
}

#feedback2 {
    margin: 0;
}
