@import url("base.css");
/* Form styling */

form{
    background-color: var(--dark_background);
    color: var(--color_text);
    margin: 0%;
    padding: 0%;
}

.form-text{
    background-color: var(--dark_background)!important;
    margin-top: 0%;
}

select{
    background-color: var(--light_background);
    color: var(--color_text);
}

#description{
    background-color: var(--light_background);
    color: var(--color_text);
    border: 1px solid var(--color_text);
    margin-left: 1%;
    width: 80%;
    margin-bottom: 2%;
}


.form-group > input{
    background-color: var(--light_background);
    color: var(--color_text);
}

.country-inputs > input{
    background-color: var(--light_background);
    color: var(--color_text);
    margin-left: .5rem;
    margin-bottom: .5rem;
}


.form-group{
    background-color: var(--dark_background);
    color: var(--color_text);
    margin: 0%;
    padding: 0%;
    padding-left: 2%;
}

small {
    color: var(--dark_background);
    background-color: var(--dark_background);
}