.ui-autocomplete {
    position: absolute;
    z-index: 1050; /* make sure it's above other elements */
    max-height: 200px; /* limit height and make it scrollable */
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc; 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    border-top: none;
    list-style: none;
}

.input-group {
    position: relative;
}