  .leaderboard h3 {
      text-align: center;
  }

  body {
      color: white;
  }

  .table thead th,
  .table tbody td {
      color: white;
  }

  .leaderboard {
      width: 100%;
      margin-bottom: 30px;
      /* Add space between each leaderboard */
  }