/* color scheming */
:root {
    --dark_background: #0b0c10;
    --light_background: #1f2833;
    --color_text: #c5c6c7;
    --color_title: #1ce3a7;
    --link_color: #66fcf1;
}

/*link styling */
a{
    color: var(--link_color);
    text-decoration: none;
}

/* container and background styling */

.container-fluid, .row > [class^="col-"] {
    background-color: var(--light_background);
    color: var(--color_text);
    margin: 0%;
}

.navbar-dark, .navbar-dark > .container-fluid, ul{
    background-color: var(--light_background)!important;
    margin-block: 0%;

}


/*button styling */

.btn-secondary{
    color: var(--color_text);
    border-color: var(--color_text);
    background-color: var(--light_background);
    margin-top: .2rem;
    margin-bottom: .2rem;
}


/* Form styling */

form{
    background-color: var(--dark_background);
    color: var(--color_text);
    margin: 0%;
    padding: 0%;
}

.form-text{
    background-color: var(--dark_background)!important;
    margin-top: 0%;
}

select{
    background-color: var(--light_background);
    color: var(--color_text);
}

#description{
    background-color: var(--light_background);
    color: var(--color_text);
    border: 1px solid var(--color_text);
    margin-left: 1%;
    width: 80%;
    margin-bottom: 2%;
}


.form-group > input{
    background-color: var(--light_background);
    color: var(--color_text);
}

.country-inputs > input{
    background-color: var(--light_background);
    color: var(--color_text);
    margin-left: .5rem;
    margin-bottom: .5rem;
}


.form-group{
    background-color: var(--dark_background);
    color: var(--color_text);
    margin: 0%;
    padding: 0%;
    padding-left: 2%;
}

small {
    color: var(--dark_background);
    background-color: var(--dark_background);
}

/* Image styling */

img {
    width: fit-content;
    height: auto;
}


/* navbar styling */
.navbar-nav {
    justify-content: center;
    margin: auto;
}

.nav-item{
    padding-left: 8px;
}
 .nav-item > .btn-outline-primary, #homepagebutton{
    color: var(--link_color);
    border-color: var(--link_color);
    margin-top: .2rem;
    margin-bottom: .2rem;
}

/* Background styling*/

h1{
    color: var(--color_title);
    margin-bottom: 0%;
}

hr{
    background-color: var(--dark_background);
}

h3 {
    color: var(--color_text);
    font-size: 1.25rem;
}

h4 {
    color: var(--color_title);
    font-size: 1.5rem;
    /* This is a jank way to add a text outline in order to avoid having to use --webkit-text-stroke since its not unviversally compatible*/
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

/* this auto finds text within the {{ }} style input and styles them */
p > label, #floating_text{
    color: var(--color_text);
    margin-bottom: .2rem;
}

p > input{
    background-color: var(--light_background);
    color: var(--color_text);
}

input[type="checkbox"]{
    background-color: var(--light_background);
    color: var(--color_text);
}

#link{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    .navbar-nav .nav-item {
        padding-left: 2px;
    }

    .btn {
        padding: 0.15rem 0.15rem;
        font-size: 0.78rem;
        margin-bottom: .1rem;
        margin-top: .1rem;
        display: flex;
        min-width: fit-content;
        white-space: nowrap;
    }
}