svg * {
    user-select: none;
}

svg g text {
    pointer-events: none;
}

#svg-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    max-width: 100%;
    max-height: 88%;
}

#tabsContainer {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    pointer-events: none;
}

.country-tab {
    margin: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Animate the transform and opacity */
    pointer-events: all;
}

.country-tab:hover {
    background-color: #0056b3;
}