<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    {% block header %}
    {% if title %}
    <title>{{ title }} - My Flask App</title>
    {% else %}
    <title>Welcome to My Flask App</title>
    {% endif %}
    {% endblock %}
    
</head>

<body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('periodic_table') }}">Periodic Table</a>
        <a href="{{ url_for('world') }}">World Map</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
    
</body>
</html>
