<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Local Bootstrap@5.3.3 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Local Bootstrap@5.3.3 JS Bundle -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    <!-- jQuery@3.7.1 -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <!-- Custom Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block header %}
    {% if title %}
    <title>{{ title }} - Quick Quiz</title>
    {% else %}
    <title>Quick Quiz</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('main.index') }}"> Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('periodictable.periodic_table') }}">Periodic Table</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('worldmap.world') }}">World Map</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('main.leaderboard') }}">Leaderboard</a>
                </li>
                
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('main.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('creategame.loadpage') }}">Create Game</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{{ url_for('main.logout') }}">Logout</a>
                </li>
               
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </html>