{% extends "base.html" %}

{% block header %}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1.0, orientation=portrait">
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}" />
{% endblock %}

{% block content %}
<form action="{{ url_for('creategame.submit_game') }}" method="post" id="quizForm">
    <h2>Create Your Quiz Game</h2>
    <div class="form-group">
        <label for="game_name">Game Name:</label>
        <input type="text" id="game_name" name="game_name" required aria-describedby="gameNameHelp">
        <small id="game_name_error" class="form-text text-danger"></small>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required aria-describedby="descriptionHelp"></textarea>
    </div>

    <h3>Add Questions</h3>
    <div id="questions_container">
        <div class="question_block form-group">
            <label for="question_text[]">Question:</label>
            <input type="text" name="question_text[]" required>

            <label for="location[]">Location Lock:</label>
            <select name="location[]" required>
                <option value="global">global (whole map)</option>
                <option value="Europe">Europe</option>
                <option value="East Asia">East Asia</option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
                <option value="Middle East">Middle East</option>
            </select>

            <div class="country-inputs">
                <label>Answer Countries:</label>
                <input type="text" class="answer-countries" name="countries[]" list="countries" required>
            </div>
            <button type="button" class="btn btn-link add-country">Add Another Country</button>
            <datalist id="countries">
                <!-- This datalist will be populated with country options via JavaScript -->
            </datalist>
            <div id="error_message" class="form-text text-danger" style="display: none;"></div>
            <button type="button" class="btn btn-link remove-country">Remove Last Country</button>
            <br>
            <button type="button" class="btn btn-link remove-question">Remove This Question</button>
        </div>
        
    </div>
    <div>
        <br>
        <button type="button" id="addQuestion" class="btn btn-link">Add Another Question</button>
        
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit Game</button>
        <div id="responseMessage" class="form-text" style="display: none;"></div>
    </div>

</form>

{% endblock %}