{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/qa.js') }}"></script>
{% endblock %}

{% block content %}
    <!--Title of website ocde-->
    <div class="container-fluid">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 style="margin-bottom: 2rem;">(Insert website name here)</h1>
        </div>
    </div>

    <!--If user is not logged in, display message to login or register-->
    {% if current_user.is_anonymous %}
    <div class="container-fluid">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>You are currently not logged in, if you would like to save your score information please</h3>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <a  id="homepagebutton" class="btn btn-outline-primary" href="{{ url_for('main.login') }}">Login</a>
            <h3 style="margin-left: 1rem; margin-right: 1rem;">or</h3>
            <a id="homepagebutton" class="btn btn-outline-primary" href="{{ url_for('main.register') }}">Register</a>
        </div>
    </div>
    <!--If user is logged in, display welcome message-->
    {% else %}
    <div class="container-fluid">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>Welcome {{ current_user.username }}!</h3>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid">
        <div class="col-md-12 d-flex justify-content-center">
            <h3>Please Select a Quiz to Start</h3>
        </div>
    </div>


    <!--Buttons to select which game to start-->
    <div class="row justify-content-center">
        <div class="col-3 d-flex align-items-center position-relative justify-content-center" onclick="location.href='{{ url_for('main.periodic_table')}}'"> <!-- <- ignore this compiler error, its caused by quotation shenanigans-->
            <!--Image credit: https://chemistrydocs.com/periodic-table-notes/-->
            <img src="{{ url_for('static', filename='/images/periodicbutton.png') }}" alt="Periodic Table Quiz Button" class="img-fluid rounded">
            <div class="stack-Txt position-absolute">
                <h4 class="stack-Txt-child">Periodic Table Quiz</h4>
            </div>
        </div>

        <div class="col-3 d-flex align-items-center position-relative justify-content-center" onclick="location.href='{{ url_for('main.world') }}'"> <!--  <- ignore this one too-->
            <!--Image credit: https://www.pxfuel.com/en/desktop-wallpaper-graok-->
            <img src="{{ url_for('static', filename='/images/worldbutton.jpg') }}" alt="World Map Quiz Button" class="img-fluid rounded">
            <div class="stack-Txt position-absolute">
                <h4 class="stack-Txt-child">World Map Quiz</h4>
            </div>
        </div>
    </div>
    
    <!--Spacer to change background to black-->
    <div class="row min-vh-100"></div> 

{% endblock %}