{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
    
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-12 d-flex justify-content-center">
        <h1>Leaderboard</h1>
    </div>
</div>
<div class="container-fluid min-vh-100">
    <div class="col-md-12 d-flex justify-content-center">
        <table class="table table-striped" >
            <thead>
                <tr style="color: white;">
                    <th scope="col" >Rank</th>
                    <th scope="col" >Username</th>
                    <th scope="col" >Score</th>
                </tr>
            </thead>
            
            <!-- Leaderboard data will be inserted here -->
        </table>
    </div>
 {% endblock %}
  