{% extends "base.html" %} 
{% block header %} 
{{ super() }}
<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}" />

{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="col-md-12 d-flex justify-content-center">
    <h1>Leaderboard</h1>
  </div>
</div>
<div class="container-fluid min-vh-100">
  <div class="col-md-12" id="leaderboard-container">
    <!-- Leaderboard tables will be dynamically inserted here -->
  </div>
</div>
{% endblock %}