{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/pt.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pt.css') }}" />
{% endblock %}

{% block content %}
<div id="svg-container">
    {{ svg_content | safe }}
</div>


<div class="d-flex flex-column justify-content-center" style="width: 100%;">
    <div class="row d-flex justify-content-center">
        <button class="btn btn-outline-primary" id="getQAelements">Get a Question</button>
    </div> 
    <div class="row d-flex justify-content-center">
        <p id="question"><strong>Question:</strong></p>
    </div>
    <div class="row d-flex justify-content-center">
        <input type="text" id="answerInput" style="width: 20%; text-align: center;" placeholder="Type/Select your Answer">
    </div>
    <div class="row d-flex justify-content-center" style="padding-top: .5rem;">
        <button class="btn btn-outline-secondary" id="submitAnswerButton">Submit Answer</button>
    </div>
    <div class="row d-flex justify-content-center">
        <p id="feedback"></p>
    </div>
</div>
<div class="d-flex min-vh-100"></div>


{% endblock %}