{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/world.js') }}"></script>
    <script src="{{ url_for('static', filename='js/svgMovement.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/world.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, orientation=portrait">

{% endblock %}

{% block content %}
<div id="svg-container">
    {{ svg_content | safe }}
</div>
<div id="tabsContainer">
</div>
<div class="container">
    <p id="question"><strong>Question:</strong></p>
    <input type="text" id="answerInput" placeholder="Type your answer here">
    <div class="input-container">      
      <button id="getQAcountries" class="clickable-child">Get a Question</button>
      <button id="submitAnswerButton" class="clickable-child">Submit Answer</button>
      <button id="zoomToEurope" class="clickable-child">Zoom to Europe [test]</button>
    </div>
    <p id="feedback"></p>
  </div>
    


{% endblock %}