{% extends "base.html" %}

{% block header %}
{{ super() }}

{% if script == "game" %}
<script src="{{ url_for('static', filename='js/world.js') }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/world.js') }}"></script>
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/world.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, orientation=portrait">

{% endblock %}

{% block content %}
<div id="svg-container" style="height: 85vh;">
  {{ svg_content | safe }}
  <div id="overlay">
    <table class="info-table">
      <thead>
        <tr>
          <th>Game Name</th>
          <th>Description</th>
          <th>Created by</th>
          <th>Questions</th>
          <th>User rating</th>
        </tr>
      </thead>
      <tbody>
        {% for location in locations %}
        <tr class="location-row">
          <td>{{ location.name }}</td>
          <td>{{ location.description }}</td>
          <td>{{ location.user }}</td>
          <td>{{ location.question_count }}</td>
          <td>{{ location.average_rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<span id="feedback"></span>
<div id="tabsContainer">
</div>


<!-- This hardcoding is ugly but necessary due to the limitations of svg containers-->
<div class="container-fluid align-items-center" style="height: 15vh;">
  <div class="row flex-nowrap align-items-center " style="width: 100%; padding-top: .5%; padding-bottom: .2rem;">
    <div class="col-md-5">
      <p id="question" style="font-weight: bold; color: #c5c6c7;">Please Select a Quiz from the Table Above</p>
    </div>

    <div class="col-md-3">
      <input type="text" id="answerInput" class="clickable-child"  style="padding: .2rem;" placeholder="Type your answer here">
    </div> 

    <div class="col-md-2">
      <button id="submitAnswerButton" class="clickable-child btn btn-outline-primary" >Submit Answer</button>
    </div> 

    <div class="col-md-1">
      <button id="pass" class="clickable-child btn btn-outline-primary" style="display: none; width: 100%;">Pass</button>
    </div>

    <div class="col-md-1">
      <span id="timer" class="clickable-child"></span>
    </div>
  </div>
</div>

{% endblock %}





<!--
<div class="container">
  <p id="question"><strong>Question:</strong></p>
  <input type="text" id="answerInput" class="clickable-child" placeholder="Type your answer here">
  <div class="button-container">
    <button id="submitAnswerButton" class="clickable-child">Submit Answer</button>
    <button id="pass" class="clickable-child" style="display: none;">Pass</button>
    <span id="timer" class="clickable-child"></span>
  </div>
  <span id="feedback"></span>
</div>
-->